* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section1{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header strong {
    font-size: 24px;
    color: white;
}

.header ul {
    display: flex;
    font-size: 18px;
    color: white;
    list-style: none;
    align-items: center;
}

.header ul li {
    padding-right: 20px;
} 

.main {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    color: white;
}

.main .img1 img{
    width: 400px;
    height: 200px;
}

.main .head {
    width: 400px;
}

.head button {
    padding: 5px;
    width: 80px;
    background-color: #3882F6;
    border: transparent;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}

.head h1 {
    font-size: 48px;
}

.head p {
    font-size: 18px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.section2 .div1 strong{
    font: bolder;
    font-size: 36px;
}

.div2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.div2 .container {
    width: 200px;
    text-align: center;
}

.div2 .container .box{
    width: auto;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.section3 .container {
    width: 800px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.section3 span{
    text-align: end;
    margin-top: 20px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.section3 em {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    font-size: 36px;
}

.section4 {
    display: flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section4 .container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 10px;
}

.section4 .container .container2 {
    display: flex;
    align-items: center;
}

.section4 .container .container1 {
    color: white;
}

.section4 .container .container1 strong{
    color: white;
    font-size: 20px;
}

.section4 .container .container2 button{
    padding: 6px;
    width: 125px;
    background-color: transparent;
    border: 2.5px solid white;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}